{% extends "00base.html" %}

{% block class1 %}class="active"{% endblock %}

{% block content %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Map_of_the_Community_Areas_and_%27Sides%27_of_the_City_of_Chicago.svg/350px-Map_of_the_Community_Areas_and_%27Sides%27_of_the_City_of_Chicago.svg.png" width="40%" align="right" height="70%">

<h1>
  Welcome!
</h1>

The purpose of this webpage is to provide useful information when people need to
decide which community area to live. In this web page you will be able to find
statistic of crime, education, and poverty level by community Area.

Click on "Community Area Finder" on the navigation bar and we will show those
information.

<h2>
  Chicago Neighborhoods and Community Areas
</h2>

<p>
Chicago is made up of 77 community areas that are often grouped into 9 districts
or “sides”.The community areas are well defined and do not overlap with each other.
Each community area has one or more neighborhoods in it. On the other hand,
the neighborhoods are often not well defined and sometimes overlap with each
other.
<p>
Other useful resources:
<li><a href=https://en.wikipedia.org/wiki/Community_areas_in_Chicago>Wikipedia</a>.
<li><a href=https://data.cityofchicago.org/Facilities-Geographic-Boundaries/Boundaries-Community-Areas-current-/cauq-8yn6/data>City of Chicago</a>.
<p>

<h2>
  Still in Doubt about Living in Chicago?
</h2>

<p>
In the Choosing Chicago "section" there is a compile of 10 reasons to chose Chicago over any other city.

<p>
  Other resource about why to choose Chicago:
  <li><a href=https://www.buzzfeed.com/jenniferschaffer/home-sweet-chicago?utm_term=.cmZLWRbWx#.eq2nj5Jjl>BuzzFeed</a>.
  <li><a href=http://www.businessinsider.com/25-reasons-why-chicago-is-the-best-city-in-america-for-young-professionals-2013-6>Bussinessinsider</a>.
  <li><a href=https://www.thrillist.com/entertainment/chicago/why-chicago-is-the-best-city-in-the-country-rankings>Thrillist</a>.

<p>


<html lang="en">

{% endblock %}
