{% load staticfiles %}

<!DOCTYPE html>

 <!--present for Juan starts here-->
 <style>
 ul.nav {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   overflow: auto;
   background-color: lightblue;
 }

 ul.nav li { float: left;}

 ul.nav li a {
   display: inline-block;
   color: white;
   padding: 16px 20px;
   text-decoration: none;
   font-size: 16px;
 }

 ul.nav li a.active {
   color: lightblue;
   background-color: #EEE;
   font-weight: bold;
 }

 ul.nav li:hover {
   background-color: #555;
   transition: 0.5s;
 }
 </style>

<header>
<ul class="nav">
  <li><a href="URL of crime page in urls.py" {% block class1 %}{% endblock %}>Hidden History</a></li>
  <li><a href="URL of education page in urls.py" {% block class2 %}{% endblock %}>Legendarily Generous Donator</a></li>
  <li><a href="URL of otherstuff page in urls.py" {% block class3 %}{% endblock %}>Mysterious Decision</a></li>
</ul>
</header>
 <!--present for Juan ends here-->


<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,500,400,300,200,100,400italic0&subset=latin,greek,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />
    <title>{{ title | default:"My Django Site" }}</title>

    {% block header_ex %}{% endblock %}

</head>

<body>


<nav class="navbar navbar-inverse" id="navbar">
  <div class="col-md-10 col-md-offset-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#home">Home</a></li>
      <li><a href="#data">Data</a></li>
      <li><a href="#methods">Methods</a></li>
      <li><a href="#code">Code</a></li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Group<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#jq">Joey Q</a></li>
          <li><a href="#jo">Jessie O</a></li>
          <li><a href="#dl">Donna L</a></li>
          <li><a href="#bb">Betty B</a></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>



<div class="col-md-10 col-md-offset-1 text-left">

  <h1>{{ title | default:"My Django Site" }}</h1>

  <div id="content">
    {% block content %}{% endblock %}
  </div>

</div>

</body>
</html>
